/* Body{
    background-color: aquamarine;
} */    
.product {
   
    width: 321px;
    height: 444px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-right: 24px;
    padding: 12px;
    border-radius: 17px;
    background-color: white !important;
    border: none !important;

}
/* .product:hover{
    box-shadow: 8px 8px 33px 0px;
    transition: all 0.3s ease-in-out;
    background-color: beige;


} */